# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# Version Control
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE / OS
.DS_Store
.idea
.vscode
*.swp

# Documentation
README.md

# Terraform (if present in subdirs)
.terraform
*.tfstate
*.tfstate.backup
